@font-face {
    font-family: DMSans-regular;
    src: url(../../fonts/DMSans-Regular.ttf);
}

@font-face {
    font-family: DMSans-bold;
    src: url(../../fonts/DMSans-Bold.ttf);
}

@mixin subtext {
    color: hsl(28, 10%, 53%);
    font-size: 0.8em;
    font-family: DMSans-regular;
}

main {
    padding: 20px;
    margin-top: 15px;
    background-color: hsl(33, 100%, 98%);
    height: 380px;
    border-radius: 15px;

    > h1 {
        color: hsl(25, 47%, 15%);
        font-family: DMSans-bold;
        font-size: 1.5em;
    }
}

.chart {
    justify-content: space-evenly;
    display: flex;
    height: 180px;


    .chartColumn {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;

        .amountView {
            background-color: hsl(25, 47%, 15%);
            padding: 6px;
            text-align: center;
            margin-bottom: 5px;
            border-radius: 5px;
            margin-inline: auto;
            p.amount {
                font-family: DMSans-regular;
                font-size: 0.8em;
                color: hsl(33, 100%, 98%);
            }
        }

        > p, .chartItem {
            margin-inline: auto;
        }

        > .chartItem {
            border-radius: 5px;
            background-color: hsl(10, 79%, 65%);
            width: 42px;
            height: 100%;
            margin-inline: 8px;
            transition: opacity 0.25s ease;

            &:hover {
                opacity: 67.5%;
                cursor: pointer;
            }
        }

        > p {
            margin-top: 5px;
            font-size: 0.8em;
            font-family: DMSans-regular;
            color: hsl(28, 10%, 53%);
        }
    }
}

.footer {
    display: flex;
    height: 34%;

    .footerLeft, .footerRight {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .footerLeft {
        justify-content: flex-end;

        .totalSum {
            font-family: DMSans-bold;
            font-size: 2.5em;
        }   
    }

    .footerRight {
        justify-content: flex-end;
        align-items: end;

        .percentageLastMonth {
            font-family: DMSans-bold;
        }
    }

    .subtextFooter {
        @include subtext;
    }
}

@media (min-width: 375px) {

}

